//filename: aboutStyles.css
body {
  background-color: #303030;
}

.container {
  background-color: #ababaa;
  width: 80%;
  margin: 0 auto;
}

//Header Styles

.container > header {
  display: grid;
  grid-template-columns: 40% 20% 40%;

  align-items: center;
  min-height: 220px;
  max-height: 100%;
  height: 100%;

  background-color: #36485e;
}
.container > header > h2 {
  color: #f06363;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  float: left;

  margin-left: 15px;
}
nav {
  grid-column: 3;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  list-style: none;

  //
  > li {
    //
    > a {
      text-decoration: none;
      color: white;
    }
  }
}

//.title section
.title {
  display: block;
  text-align: center;
  padding: 20px 0px;
  background-color: #ababaa;
  color: #36485e;
}

//.info section
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f06363;
  padding: 10px 0px;
}
.image > img {
  border-radius: 5px;
}

.list > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30px;
  font-size: x-large;
  color: white;
}

.list > p {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 30px;
  color: white;
}

.list > ul > li {
  color: white;
}

//whyUs section
.containerWhyUs {
  display: flex;
  justify-content: space-between;
  background-color: #36485e;
  padding: 10px 0px;
}

.whyUs {
  flex-basis: 45%;
  padding-left: 20px;
  > h1 {
    padding-bottom: 20px;
  }
}
.logo {
  align-self: center;
  flex-basis: 40%;
}
.logo > img {
  width: 50%;
  padding-left: 20%;
}

//footer section
footer {
  height: 50px;
  background-color: #f06363;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

footer p#copy {
  margin: 10px;
}
footer p#contact {
  margin: 10px;
}
